* {
  margin: 0;
  padding-top: 0px;
}
body {
  color: white;
  font-family: 'Josefin Sans';
  background-color: black;
  background-image: url('abstract_yellow_background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

/* TOP PART */

.title{
  font-size: 110px;
  color: white;
  float:left;
  padding-top: 20px;
}
.subtitle{
  font-size: 70px;
  color: white;
  padding-top: 40px;
  float:right;
}

.banner{
  float:center;
}

.content_frame{
  width: 100%;
  height:700px;
  cursor: none;
}

.info-area{
  background-color: #990000ff;
  position: fixed;
  width: 100%;
  height: 8x0px;
  bottom: 0;
}

div.info-area p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  text-align: center;
}


/* PROGRESS BARS */

.bar-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 60px;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  background-color: blue;
}

.refresh-bar-border{
  background-color: rgba(53, 53, 53, 0.37);
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
}

#refresh-bar-fill{
  background-color:#c90000;
  height: 20px;
  width: 0%;
  animation: reset-animation 2s;
  animation-fill-mode: forwards;
}

@keyframes reset-animation {
  0% {width: 100%;}
  99% {width: 0%;}
}

@keyframes progress-animation {
  0% {width: 0%;}
  100% {width: 100%;}
}

@keyframes process-animation {
  0% {background-color:#c90000; width: 100%;} /*Dark yellow: #bf9000ff*/
  50% {background-color:#fc0303; width: 100%;} /*Light yellow: #e0bb4bff*/
  100% {background-color:#c90000; width: 100%;}
}
