* {
  margin: 0;
  padding: 0px;

}

.idle_logo{
    width:600px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    animation-name: logo;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes logo {
    0% {width: 600px; opacity: 80%;}
    50% {width:800px; opacity: 100%;}
    100% {width:600px; opacity: 80%;}
}

.error_spinner{
    width:300px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

